<div class="link_log">
  <%= link_to "お気に入り店舗一覧", bookmarks_path, class: "back_link" %> <%= ">" %> <%= "店舗詳細" %>
</div>

<div class="shopdetail_container">
  <% if flash[:bm_max] %>
    <p style="color: red"><%= flash[:bm_max] %></p>
  <% end %>

  <% if @shop_detail.present? %>
    <div class="shopdetail_head">
      <div class="head_contents">
        <h2><%= @shop_detail[:name] %></h2>
        <strong>ジャンル：</strong><%= @shop_detail[:genre][:name] %><br>
        <strong>予算：</strong><%= @shop_detail[:budget][:name] %>
        <% if user_signed_in? && @isBookmarked %>
          <%= link_to bookmarks_destroy_path(shop_id: @shop_id), data: { turbo_method: :delete } do %>
            <%= image_tag 'bookmarked_icon.png', class: 'bookmark_icon' %>
          <% end %>
        <% elsif user_signed_in? %>
          <%= link_to bookmarks_path(shop_id: @shop_id), data: { turbo_method: :post } do %>
            <%= image_tag 'bookmark_before_icon.png', class: 'bookmark_icon' %>
          <% end %>
        <% end %>
      </div>
    </div>

    <img src="<%= @shop_detail[:photo][:pc][:l] %>" class="detail_image"><br>
    
    <h3><%= @shop_detail[:catch] %></h3>

    <table class="table_design">
      <tbody>
        <tr>
          <th>住所</th>
          <td>
            <%= @shop_detail[:address] %>
          </td>
        </tr>

        <tr>
          <th>アクセス</th>
          <td>
            最寄り駅: <%= @shop_detail[:station_name] %><br>
            <%= @shop_detail[:access] %><br>
            <%= link_to "Google Mapで表示", "https://www.google.com/maps?q=#{@shop_detail[:lat]},#{@shop_detail[:lng]}", target: "_blank", rel: "noopener noreferrer", class: "map_url" %>
          </td>
        </tr>

        <tr>
          <th>営業時間</th>
          <td>
            <p><%= @shop_detail[:open] %></p>
            <p>定休日: <%= @shop_detail[:close] %></p>
          </td>
        </tr>

        <tr>
          <th class="options_th">店舗情報</th>
          <td>
            席数: <%= @shop_detail[:capacity] %><br>
            ランチ: <%= @shop_detail[:lunch] %><br>
            飲み放題: <%= @shop_detail[:free_drink] %><br>
            食べ放題: <%= @shop_detail[:free_food] %><br>
            Wi-Fi: <%= @shop_detail[:wifi] %><br>
            個室: <%= @shop_detail[:private_room] %><br>
            禁煙席: <%= @shop_detail[:non_smoking] %><br>
            駐車場: <%= @shop_detail[:parking] %><br>
            バリアフリー: <%= @shop_detail[:barrier_free] %><br>
            ペット: <%= @shop_detail[:pet] %><br>
          </td>
        </tr>

        <tr>
          <th>URL</th>
          <td>
            <a href="<%= @shop_detail[:urls][:pc] %>" target="_blank">ホットペッパーグルメ 店舗ページ</a>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>

  <a href="http://webservice.recruit.co.jp/"><img src="http://webservice.recruit.co.jp/banner/hotpepper-s.gif" 
  alt="ホットペッパーグルメ Webサービス" width="135" height="17" border="0" title="ホットペッパーグルメ Webサービス"></a><br>
  【画像提供：ホットペッパー グルメ】
</div>

<div class="comments_container">
  <h3 class="comment_title">コメント</h3>
  <p style="color: green"><%= notice %></p>

  <% if @comments.any? %>
    <% @comments.each do |comment| %>
      <p>
        <div class="comment_flex">
          <%= image_tag 'user_icon_s.png', class: 'comment_icon' %>

          <div class="comment_textbox">
            <strong><%= comment.user.name %></strong><br>
            <%= comment.sentence %>
          </div>
        </div>

        <% if user_signed_in? %>
          <% if comment.user_id == current_user.id %>
            <div class="comment_button_flex">
              <%= button_to "コメント編集", edit_comment_path(comment), method: :get, class: "comment_button" %>
              <%= button_to "コメント削除", comment, { method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } }, class: "comment_button comment_delete_btn" } %>
            </div>
          <% end %>
        <% end %>
      </p>
    <% end %>
  <% else %>
    まだコメントはありません。
  <% end %>

  <hr>

  <h3 class="comment_title">コメント投稿</h3>
  <% if user_signed_in? %>
    <%= form_with(model: @new_comment) do |form| %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :shop_id, value: @shop_id %>

      <div>
        <strong><%= form.label :sentence, "コメント投稿", style: "display: block" %></strong>
        <%= form.text_area :sentence, class: "comment_input" %>
      </div>

      <div>
        <%= form.submit "投稿", class: "button comment_submit_btn" %>
      </div>
    <% end %>
  <% else %>
    コメントを投稿する場合はログインしてください。
  <% end %>
</div>