<div class="devise_edit_container">
  <h2 class="pagetitle">ユーザー情報の変更 1</h2>

  <%= form_with url: restaurants_result_path, method: :get, local: true do |form| %>
  <% end %>
</div>


<div class="devise_edit_container">
  <h2 class="pagetitle">ユーザー情報の変更 2</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, "新しいメールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form_input" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, "新しいパスワード" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em><br />
      <% end %>
       <i>(変更しない場合は入力しないでください)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form_input" %>
      
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "新しいパスワード（確認）" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form_input" %>
    </div>

    <div class="field">
      <%= f.label :current_password, "現在のパスワード" %><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form_input" %>
    </div>

    <div class="actions">
      <%= f.submit "更新", class: "button" %>
    </div>
  <% end %>
</div>

<div class="devise_edit_container">
  <h3 class="pagetitle">ユーザーアカウント消去</h3>

  現在ログインしているユーザーアカウントが消去され、関連するデータも全て消去されます。復元はできません。
  <%= button_to "アカウント消去", registration_path(resource_name), class: "button user_delete_btn", data: { confirm: "復元はできません。本当に消去しますか?", turbo_confirm: "復元はできません。本当に消去しますか?" }, method: :delete %>
</div>
