<div class="comments_show_container">
  <h1 class="pagetitle">投稿コメント一覧</h1>

  <% if flash[:comment_notice] %>
    <p style="color: green"><%= flash[:comment_notice] %></p>
  <% end %>

  <% if @comments.any? %>
    <% @comments.each do |comment| %>
      <strong><%= (Array(@restaurants).find { |hash| hash[:id] == comment.shop_id })[:name] %></strong> へのコメント
      <div class="comment_textbox">
        <%= comment.sentence %>
      </div>

      <div class="comment_button_flex">
        <%= button_to "コメント編集", edit_comment_path(comment), method: :get, class: "comment_button" %>
        <%= button_to "コメント削除", comment, { method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } }, class: "comment_button comment_delete_btn" } %>
      </div>
      <hr class="comments_show_border">
    <% end %>
  <% else %>
    <p class="warning_message">コメントは投稿されていません。</p>
  <% end %>
</div>

