<div class="link_log">
  <%= link_to "検索条件⼊⼒", restaurants_search_path, class: "back_link" %> <%= ">" %> <%= "レストラン検索結果" %> 
</div> 

<h1 class="pagetitle pagetitle_adjust">レストラン検索結果</h1>

<% if flash[:alert] %>
  <p class="alert"><%= flash[:alert] %></p>
<% end %>

<% if @restaurants && @restaurants.present? %>
  <% @restaurants.each do |shop| %>
    <div class="shoplist_container">
      <%= link_to restaurants_show_path(id: shop[:id]), class: "show_link" do %>
        <div class="shoplist_flexitem1">
          <img src="<%= shop[:photo][:pc][:l] %>" class="shopinfo_image">
        </div>

        <div class="shoplist_flexitem2">
          <div class="shopinfo_head">
            <div class="shopinfo_name"><%= shop[:name] %></div>
            <%= shop[:genre][:name] %><br>
          </div>

          <p>住所: <%= shop[:address] %></p>
          <p>アクセス: <%= shop[:access] %></p>
        </div>
      <% end %>
    </div>
    <hr class="shoplist_border">
  <% end %>

  <div class="paginate">
    <%= paginate @restaurants %>
  </div>
<% else %>
  <p>レストラン情報が見つかりませんでした。</p>
<% end %>