<h1 class="pagetitle">周辺のレストランを検索</h1>

<div class="form_container">
  <h2 class="form_container_head">検索条件</h2>
  <p class="form_explain">取得した位置情報から周辺のレストランを最大50件まで検索します。</p>

  <%= form_with url: restaurants_result_path, method: :get, local: true do |form| %>
    <%= form.hidden_field :latitude, id: 'latitude' %>

    <%= form.hidden_field :longitude, id: 'longitude' %>

    <p>
      <strong>検索範囲（現在地からの半径距離）</strong><font color="#FF0000"> *</font><br>
      <%= form.radio_button :range, 1 %><%= form.label :range_1, "300m" %>
      <%= form.radio_button :range, 2 %><%= form.label :range_2, "500m" %>
      <%= form.radio_button :range, 3, checked: true %><%= form.label :range_3, "1km" %>
      <%= form.radio_button :range, 4 %><%= form.label :range_4, "2km" %>
      <%= form.radio_button :range, 5 %><%= form.label :range_5, "3km" %>
    </p>

    <strong>検索オプション（複数選択可）</strong><br>
    <div class="checkbox_flex">
      <div class="checkbox_unit"><%= form.label :option_wifi, "Wi-Fiあり" %><%= form.check_box :option, { multiple: true }, "wifi", nil %></div>
      <div class="checkbox_unit"><%= form.label :option_lunch, "ランチあり" %><%= form.check_box :option, { multiple: true }, "lunch", nil %></div>
      <div class="checkbox_unit"><%= form.label :option_free_drink, "飲み放題あり" %><%= form.check_box :option, { multiple: true }, "free_drink", nil %></div><br>
      <div class="checkbox_unit"><%= form.label :option_free_food, "食べ放題あり" %><%= form.check_box :option, { multiple: true }, "free_food", nil %></div>
      <div class="checkbox_unit"><%= form.label :option_private_room, "個室あり" %><%= form.check_box :option, { multiple: true }, "private_room", nil %></div>
      <div class="checkbox_unit"><%= form.label :option_non_smoking, "禁煙席あり" %><%= form.check_box :option, { multiple: true }, "non_smoking", nil %></div><br>
      <div class="checkbox_unit"><%= form.label :option_parking, "駐車場あり" %><%= form.check_box :option, { multiple: true }, "parking", nil %></div>
      <div class="checkbox_unit"><%= form.label :option_barrier_free, "バリアフリー" %><%= form.check_box :option, { multiple: true }, "barrier_free", nil %></div>
      <div class="checkbox_unit"><%= form.label :option_pet, "ペット可" %><%= form.check_box :option, { multiple: true }, "pet", nil %></div><br>
    </div>

    <p>
      <strong><%= form.label :name, "店舗名（部分一致）" %></strong><br>
      <%= form.text_field :name, class: "hoge", size: 30 %>
    </p>

    <p>
      <font color="#FF0000">* 必須</font>
    </p>

    <%= form.submit "検索", class: "submit_button" %>
  <% end %>
</div>


<script>
  document.addEventListener('turbo:load', () => {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        (position) => {
          // 受け取った位置情報から緯度経度を取得
          const latitude = position.coords.latitude;
          const longitude = position.coords.longitude;
          
          // 取得した緯度経度をコンソールに表示
          console.log(`Latitude: ${latitude}, Longitude: ${longitude}`);

          // 取得した緯度経度をJavaScript変数に代入
          document.getElementById('latitude').value = latitude;
          document.getElementById('longitude').value = longitude;
        },
        (error) => {
          console.error('Error getting geolocation:', error);
        }
      );
    } else {
      console.error('Geolocation is not supported by this browser.');
    }
  });
</script>