<script>
document.addEventListener('DOMContentLoaded', () => {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
      (position) => {
        // 受け取った位置情報から緯度経度を取得
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;
        
        // 取得した緯度経度をコンソールに表示
        console.log(`Latitude: ${latitude}, Longitude: ${longitude}`);

        // 取得した緯度経度をJavaScript変数に代入
        document.getElementById('latitude').value = latitude;
        document.getElementById('longitude').value = longitude;
      },
      (error) => {
        console.error('Error getting geolocation:', error);
      }
    );
  } else {
    console.error('Geolocation is not supported by this browser.');
  }
});
</script>

<h1>周辺のレストランを検索</h1>

<%= form_with url: restaurants_result_path, method: :get, local: true do |form| %>
  <%= form.hidden_field :latitude, id: 'latitude' %>

  <%= form.hidden_field :longitude, id: 'longitude' %>

  <p>
    検索範囲:  <%= form.radio_button :range, 1 %>300m
              <%= form.radio_button :range, 2 %>500m
              <%= form.radio_button :range, 3, checked: true %>1km
              <%= form.radio_button :range, 4 %>2km
              <%= form.radio_button :range, 5 %>3km
  </p>

  <p>
    <%= form.label :option, "Wi-Fiあり" %><%= form.check_box :option, { multiple: true }, "wifi" %>
    <%= form.label :option, "ランチあり" %><%= form.check_box :option, { multiple: true }, "lunch" %>
    <%= form.label :option, "飲み放題あり" %><%= form.check_box :option, { multiple: true }, "free_drink" %><br>
    <%= form.label :option, "食べ放題あり" %><%= form.check_box :option, { multiple: true }, "free_food" %>
    <%= form.label :option, "個室あり" %><%= form.check_box :option, { multiple: true }, "private_room" %>
    <%= form.label :option, "禁煙席あり" %><%= form.check_box :option, { multiple: true }, "non_smoking" %><br>
    <%= form.label :option, "駐車場あり" %><%= form.check_box :option, { multiple: true }, "parking" %>
    <%= form.label :option, "バリアフリー" %><%= form.check_box :option, { multiple: true }, "barrier_free" %>
    <%= form.label :option, "ペット可" %><%= form.check_box :option, { multiple: true }, "pet" %><br>
  </p>

  <p>
    <%= form.label :name, "店舗名(部分一致)" %>
    <%= form.text_field :name, class: "hoge", size: 30 %>
  </p>

  <%= form.submit "送信" %>
<% end %>