<div class = 'header'>
    <h1>NearEats</h1>

    <div class="nav">

        <% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
            <!-- ユーザーがログインしていた時の処理 -->

            <!-- サイドメニューの表示・非表示を切り替えるチェックボックス -->
            <input id="drawer_input" class="drawer_hidden" type="checkbox">
        
            <!-- ユーザーアイコン -->
            <div class="icon_box">
                <label for="drawer_input" class="drawer_open"><%= image_tag 'user_icon_s.png', class: 'user_icon' %><span></span></label>
            </div>

            <!-- メニュー -->
            <nav class="nav_content">
                <div class="username_display">
                    <%= current_user.name %>
                </div>

                <hr class="sidemenu_border">

                <ul class="nav_list">
                    <li class="nav_item"><%= link_to "投稿コメント一覧", comment_path(current_user.id), class: "list_item" %></li>
                    <li class="nav_item"><%= link_to "メールアドレス・パスワードの変更", edit_user_registration_path, class: "list_item" %></li>
                    <li class="nav_item"><%= button_to "ログアウト", destroy_user_session_path, class: 'logout_button', method: :delete %></li>
                </ul>
            </nav>
        <% else %>
            <!-- ユーザーがログインしていなかった時の処理 -->
            <div class="login_status">
                <%= button_to 'ログイン', new_user_session_path, method: :get, class: "login_button" %><!-- ログイン画面に移行する -->
                <%= button_to "サインアップ", new_user_registration_path, method: :get, class: 'signup_button' %> <!-- 新規登録画面に移行する -->
            </div>
        <% end %>
    </div>
</div>